@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  background-color: cornsilk;
}

.navbar {
  @apply p-0;
  @apply min-h-20;
}

.card-body {
  @apply px-0;
  @apply pb-0;
}

.profileContainer {
  text-align: -webkit-center;
}

.profileContainer img {
  border-color: lightblue;
}

.contentBg {
  background-color: cornsilk;
}

.nameButton {
  font: 16px Arial;
  color: white;
  background-color: salmon;
}

/* .borderGrad {
  border-radius: 50%;
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-image: linear-gradient(
      to right,
      #83c59b,
      #fcf09a,
      red,
      purple,
      #71caee
    )
    1;
} */

.navLinksButton {
  width: 120px;
  font-size: x-large;
  color: white;
  background: salmon;
  background: linear-gradient(to bottom, salmon 50%, lightblue 50%) top;
  background-size: 100% 200%;
  transition: 0.15s ease-out;
}

.navLinksButton:hover {
  background-position: bottom;
}

.mobileDrawerBtns a {
  padding-right: 0px;
}

.dropdownContainer {
  clip-path: border-box;
  padding: 0px;
}

.dropdownBtns a {
  width: 100%;
  border-radius: 0%;
  padding: 0px;
}

.drawerBtns {
  width: -webkit-fill-available;
}

.landingPageCard {
  background-color: salmon;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .circle {
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .linkedin:hover {
  background: #0a66c2;
  color: #ffffff;
  border-color: #0a66c2;
}

.wrapper .github:hover {
  background: #333333;
  color: #ffffff;
  border-color: #333333;
}

.linkedinSvg:hover,
.linkedinSvg:hover svg path {
  fill: #ffffff;
}

.githubSvg:hover,
.githubSvg:hover svg path {
  fill: #ffffff;
}

.tooltip-linkedin {
  --tooltip-color: #0a66c2;
  --tooltip-text-color: #ffffff;
}

.tooltip-github {
  --tooltip-color: #333333;
  --tooltip-text-color: #ffffff;
}

.connectBtn:hover {
  background: #20b2aa;
  -webkit-text-fill-color: #ffffff;
}

/* Stars */
/* <a href="https://www.flaticon.com/free-icons/customer-experience" title="customer experience icons">Customer experience icons created by Hilmy Abiyyu A. - Flaticon</a> */

/* XP */
/* <a href="https://www.flaticon.com/free-icons/experience" title="experience icons">Experience icons created by Smashicons - Flaticon</a> */
