@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply p-0;
  @apply min-h-20;
}

.navLinksButton {
  width: 120px;
  font: 16px Arial;
  color: white;
  background: red;

  background: linear-gradient(to bottom, salmon 50%, lightblue 50%) top;
  background-size: 100% 200%;
  transition: 0.1s ease-out;
}

.navLinksButton:hover {
  background-position: bottom;
}
