@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply p-0;
  @apply min-h-20;
}

.card-body {
  @apply px-0;
  @apply pb-0;
}

.profilePic {
  text-align: -webkit-center;
}

.navLinksButton {
  width: 120px;
  font-size: x-large;
  background: linear-gradient(to bottom, #ffc522 50%, #00adb5 50%) top;
  background-size: 100% 200%;
  transition: 0.15s ease-out;
}

.navLinksButton:hover {
  background-position: bottom;
}

.mobileDrawerBtns a {
  padding-right: 0px;
}

.dropdownContainer {
  clip-path: border-box;
  padding: 0px;
}

.dropdownBtns a {
  width: 100%;
  border-radius: 0%;
  padding: 0px;
  font-size: large;
}

.drawerBtns {
  width: -webkit-fill-available;
}

.landingPageCard a {
  padding: 0px;
  font-size: larger;
  color: #333333;
  @apply rounded-l-none;
}

.landingPageCard a:hover {
  color: #ffffff;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .circle {
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .linkedin:hover {
  background: #0a66c2;
  color: #ffffff;
  border-color: #0a66c2;
}

.wrapper .github:hover {
  background: #333333;
  color: #ffffff;
  border-color: #333333;
}

.linkedinSvg:hover,
.linkedinSvg:hover svg path {
  fill: #ffffff;
}

.githubSvg:hover,
.githubSvg:hover svg path {
  fill: #ffffff;
}

.tooltip-linkedin {
  --tooltip-color: #0a66c2;
  --tooltip-text-color: #ffffff;
}

.tooltip-github {
  --tooltip-color: #333333;
  --tooltip-text-color: #ffffff;
}

.connectBtn:hover {
  background: #20b2aa;
  -webkit-text-fill-color: #ffffff;
}

.aboutMeContainer {
  padding-top: 4rem;
  display: flex;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

.aboutMeAside {
  display: block;
  position: sticky;
  top: 64px;
  margin-left: 8rem;
}

.aboutMeArticle {
  max-width: min(44rem, 100%);
}

/* Stars */
/* <a href="https://www.flaticon.com/free-icons/customer-experience" title="customer experience icons">Customer experience icons created by Hilmy Abiyyu A. - Flaticon</a> */

/* XP */
/* <a href="https://www.flaticon.com/free-icons/experience" title="experience icons">Experience icons created by Smashicons - Flaticon</a> */
